[submodule "minilibx-linux"]
	path = minilibx-linux
	url = git@github.com:42Paris/minilibx-linux.git
	branch = master
[submodule "libft"]
	path = libft
	url = git@github.com:m-prunty/libft.git
	branch = master
